<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innovation Week</title>

    <!-- Materialze -->
    <link rel="stylesheet" href="/static/materialize/css/materialize.min.css">
    <script src="/static/materialize/js/materialize.min.js" defer></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1> {{filename.split('.')[0]}}</h1>
        </div>

        <div class="row">
            <img 
                src="/static/uploads/{{ filename }}" 
                alt="IMGTEST" 
                class="material-boxed"
                width="100%"
            />
            <div>
                <b>Emotion recognizer:</b> {{ emotion[1] + '% ' + emotion[0]}}
                <div class="progress">
                    <div class="determinate" style="width: 68%"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <audio controls>
                <source src="/static/music/piano.wav" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="row">
            <a class="btn" href="/static/music/piano.wav">
                <i class="material-icons left">download</i>
                Download song
            </a>
            <a class="btn" href="/">
                <i class="material-icons left"></i>
                Upload another image
            </a>
        </div>

    </div>
</body>

</html>
