<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innovation Week</title>

    <!-- Materialze -->
    <link rel="stylesheet" href="/static/materialize/css/materialize.min.css">
    <script src="/static/materialize/js/materialize.min.js" defer></script>
</head>

<body>
    <div class="container">
        <div>
            <h1>Mood Music Generator <br>EhB Innovation Week 2020</h1>
        </div>

        <div>
            <h3>Upload new File</h3>
        </div>

        <form method=post enctype=multipart/form-data>
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Browse</span>
                        <input type="file" name="file" />
                    </div>

                    <div class=file-path-wrapper>
                        <input class="file-path validate" type="text" placeholder="Supported formats: png, jpg, jpeg" />
                    </div>
                </div>

                <input type=submit value=Upload class="btn">
            </div>
        </form>

    </div>
    
        <footer class="waves">
            <svg viewbox="0 0 100 20">
                <path opacity="0.5" d="M0 25V10C35.5 -10.5 61.5 6.5 100 10V25H0Z" fill="#f582ae" />
                <path d="M0 25V7C20 10.3333 38.3333 10.3333 55 7C71.6667 3.66667 86.6667 3.33333 100 6V25H0Z"
                    fill="#00ebc7" fill-opacity="0.5" />
            </svg>
        </footer>
</body>

</html>